html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: visible;
}

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 518px;
}
.icon.major.alt {
  background-color: white;
  color: black;
}
header i {
  padding-right: 5px;
}
header h2 {
  color: #6ccae9;
}
button {
  background-color: #6ccae9;
  color: white;
  padding: 10px;
  line-height: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#mapImage,
#directionImage {
  overflow-anchor: none; /* prevents map from jumping down once infoWindow closes*/
  width: 100%;
  height: 500px;
  color: black;
}
#panelWrapper {
  display: flex;
  flex-direction: column-reverse;
}
.adp-warnbox {
  position: absolute;
  visibility: hidden;
}
/* footer */
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  border-top: 1px solid #e2e3e7;
}

footer p {
  color: black;
  font-size: 0.7rem;
  margin-bottom: 0;
  padding: 1rem 0;
}
footer a {
  color: black;
  text-decoration: none !important;
}

@media screen and (min-width: 979px) {
  .keyContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
  }
  .keyContainer section {
    height: 240px;
  }
  /* panel */
  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  #right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  #right-panel select,
  #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }

  #right-panel {
    height: 500px;
    float: right;
    width: 390px;
    overflow: auto;
  }

  #directionImage {
    margin-right: 400px;
    width: auto;
  }
  #panelWrapper {
    display: block;
  }
  #floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
  }
}
